.header2 {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  .header2 > .flex-item1 {
    margin-left: 40px;
  }
  .header2 > .flex-item2 {
    margin-right: 60px;
    padding-top: 10px;
  }