.header2 {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  .header2 > .flex-item1 {
    margin-left: 40px;
  }
  .header2 > .flex-item2 {
    margin-right: 60px;
    padding-top: 10px;
  }
  #regSignBtn {
    border: none;
    background-color: #ffc002;
    border-radius: 5px;
    padding: 10px 35px;
    font-weight: 700;
    color: #001f60;
    font: Roboto, sans-serif;
    cursor: pointer;
  }